    <!--Main Header-->
    <div class="header">
        <div id="site_title"><a href='/'><img src="/stylesheets/img/logo.png" alt=""width="220" height="120"></a></div>   
        <!-- Main Menu -->
        <ol id="menu">
            <li class="active_menu_item"><a href='/'>Home</a></li>
            <!-- END sub menu -->
            <li><a href="#">Surveys</a>
                <!-- sub menu -->
                <ol>
                    <li><a href='/SurveyForm/1'>Class Survey</a></li>
                    <li><a href="/SurveyForm/2">Department Tour</a></li>
                    <li><a href="#">Survey 3</a></li>
                    <li><a href="#">Survey 4</a></li>
                </ol>
            </li>
            <!-- END sub menu -->
            <li><a href="#">Results</a>
                <!-- sub menu -->
                <ol>
                    <li><a href='/SurveyResults/1'>Class Survey</a></li>
                    <li><a href="#">Department Tour</a></li>
                    <li><a href="#">Result 3</a></li>
                    <li><a href="#">Result 4</a></li>
                </ol>
            </li>
            <!-- END sub menu -->
            <li><a href='/Login'>Login</a></li>
        </ol>
    </div>
    <!--END Header-->