    <!--Main Header-->
    <div class="header">
        <div id="site_title"><img src="/stylesheets/img/logo.png" alt=""width="220" height="120"></div>   
        <!-- Main Menu -->
        <ol id="menu">
            <li class="active_menu_item"><a href='/'>Home</a></li>
            <!-- END sub menu -->
            <li><a href="#">Surveys</a>
                <!-- sub menu -->
                <ol>
                    <li><a href='/TourSurveyForm'>Department Tour</a></li>
                    <li><a href="#">Survey 2</a></li>
                    <li><a href="#">Survey 3</a></li>
                    <li><a href="#">Survey 4</a></li>
                </ol>
            </li>
            <!-- END sub menu -->
            <li><a href="#">Results</a>
                <!-- sub menu -->
                <ol>
                    <li><a href='/TourSurveyResults'>Department Tour</a></li>
                    <li><a href="#">Result 2</a></li>
                    <li><a href="#">Result 3</a></li>
                    <li><a href="#">Result 4</a></li>
                </ol>
            </li>
            <!-- END sub menu -->
            <li><a href='/Contact'>Contact</a></li>            
            <!--Login Form-->
            <div id="login">
                <form method="post" action="index.html">
                    <input type="text" name="login" value="" placeholder="Username">
                    <input type="password" name="password" value="" placeholder="Password">
                    <input type="submit" name="commit" value="Login">
                </form>
            </div>
        </ol>
    </div>
    <!--END Header-->