<!DOCTYPE HTML>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
	<link rel='stylesheet' type="text/css" media="screen" href='/stylesheets/style.css'/>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/menu/css/simple_menu.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery.js"></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

</head>
<body>
    <%-include CommonTemplate %>
    
    <div id="container">
        <h1>Welcome to UMass CS Surveys!</h1>
         <div id="container">
             <div style="margin-bottom: 15px"> <img  src="/stylesheets/img/edm.jpg" alt="" width="900" height="300"> </div>
            <div style="clear:both"></div>
        <div style="clear:both; height: 40px"></div>
    </div>
    <!-- close container -->
    <div id="footer">
        <!-- First Column -->
        <div class="one-fourth">
            <h3>Useful Links</h3>
            <ul class="footer_links">
                <div id="social_icons">
                    <a href="http://www.umass.edu/">UMass Amherst</a><br>
                    <a href="https://www.cs.umass.edu/">UMass CS</a></div>
            </ul>
        </div>
		
        <!-- Second Column -->
        <div class="one-fourth">
            <h3>Information</h3>
            University of Massachusetts Amherst CS
        </div>
        <!-- Third Column -->
        <div class="one-fourth">
            <h3>News</h3>
            University of Massachusetts Amherst CS
        </div>
        <div style="clear:both"></div>
    </div>
    <!-- END footer -->
	<script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>
