<!DOCTYPE HTML>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
        <!-- CSS Files -->
		<link rel='stylesheet' type="text/css" media="screen" href='/stylesheets/style.css'/>
        <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/menu/css/simple_menu.css">
</head>
<body>  
    <%-include CommonTemplate %>

    <script src="/javascripts/Client.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>