<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
    <meta charset="utf-8">
	<link rel='stylesheet' href='/stylesheets/style.css'/>
	<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/menu/css/simple_menu.css">
</head>
<body>
    <%-include CommonTemplate %>

    <div id="form0">
        <h1>Departmental Tour Survey</h1>

        <p>Thank you for attending a tour of the School of Computer Science!
           Please help us improve this tour by giving us your feedback through this quick survey. </p>

		<form name="tourSurvey" onsubmit="collect()">

            <h3>Question 1</h3>
			Are you a male or female?<br><br>

			<input type="radio" name="q1" value="a">Male<br>
			<input type="radio" name="q1" value="b">Female<br><br>

            <h3>Question 2</h3>
            How old will you be if you attend the School of Computer Science in the Fall?<br><br>

            <input type="radio" name="q2" value="a">18<br>
            <input type="radio" name="q2" value="b">19<br>
            <input type="radio" name="q2" value="c">20<br>
            <input type="radio" name="q2" value="d">21+<br>

            <h3>Question 3</h3>
            How did you find out about the tour?<br><br>

			<input type="radio" name="q3" value="a">UMASS CS Website<br>
			<input type="radio" name="q3" value="b">University Tour<br>
			<input type="radio" name="q3" value="c">Friend<br>
			<input type="radio" name="q3" value="d">Other<br><br>

            <h3>Question 4</h3>
            How was the length of the tour?<br><br>

			<input type="radio" name="q4" value="a">Long<br>
			<input type="radio" name="q4" value="b">Just Right<br>
			<input type="radio" name="q4" value="c">Short<br><br>

            <h3>Question 5</h3>
            Do you think you will be attending the School of Computer Science after this tour?<br><br>

            <input type="radio" name="q5" value="a">Yes<br>
            <input type="radio" name="q5" value="b">No<br>
            <input type="radio" name="q5" value="c">Undecided<br><br>

            <input type="submit" value="Submit">
		</form>
    </div>

    <script src="/javascripts/Client.js"></script>
	<script src="/javascripts/tourFormScript.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>
