<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
    <meta charset="utf-8">
	<link rel='stylesheet' href='/stylesheets/style.css'/>
	<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/menu/css/simple_menu.css">
</head>
<body>
    <%-include CommonTemplate %>

    <div id="container">
        <h1>Departmental Tour Survey</h1>

        <p>Thank you for attending a tour of the School of Computer Science!</p>
		<p>Please help us improve this tour by giving us your feedback through this quick survey</p>

		<form name="tourSurvey" onsubmit="collect()">
			I am a:<br><br>

			<input type="radio" name="who" value="a">Student<br>
			<input type="radio" name="who" value="b">Parent<br><br>

			How did you find out about the tour?<br><br>

			<input type="radio" name="source" value="a">UMASS CS Website<br>
			<input type="radio" name="source" value="b">University Tour<br>
			<input type="radio" name="source" value="c">Friend<br>
			<input type="radio" name="source" value="d">Other<br><br>

			How was the length of the tour?<br><br>

			<input type="radio" name="length" value="a">Long<br>
			<input type="radio" name="length" value="b">Appropriate Length<br>
			<input type="radio" name="length" value="c">Short<br><br>

			<input type="submit" value="Submit">
		</form>
    </div>

    <script src="/javascripts/Client.js"></script>
	<script src="/javascripts/tourFormScript.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>